<div class="postNavigation">
  <a class="link" routerLink="/">Home Page</a>
</div>

<div class="postContainer">
  <div class="postWrapper">
    <mat-card class="postCard">
      <div class="postContent">
        <h1 class="postHeader">{{ postDetails[0]?.title }}</h1>
        <p class="postContent">{{ postDetails[0]?.description }}</p>
        <div class="postDetails">
          <p class="postAuthor">{{ postDetails[0]?.author }}</p>
          <p class="postDate">
            {{ postDetails[0]?.date | date: "dd  MMMM YYYY" }}
          </p>
        </div>
        <div class="tagsWrapper">
          <div class="tags">
            <span class="tagSpan">Tags:</span>
            <span class="tag">foo</span>
            <span class="tag">bar</span>
            <span class="tag">baz</span>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
